package studentSubmissionSlot

import (
	"frontend/dto"
	"strconv"
)

templ StudentSubmissionSlot(classId int, assignmentId int, s dto.Submission) {
	<div class="p-3 border rounded-lg hover:bg-gray-50 cursor-pointer"
		hx-get={"/" + strconv.Itoa(classId) + "/entregas/" + strconv.Itoa(assignmentId) + "/submissions/detail?id=" + s.Username}
		hx-target="#submission-detail"
		hx-swap="innerHTML">
		<p class="font-medium truncate text-gray-900">{ s.Username }</p>
	</div>
}
