package adminMessage

templ AdminMessage(message string) {
    <div class="bg-green-50 text-green-700 p-3 rounded-md text-sm animate-fade-in">
        <p class="font-semibold mb-1">✅ Usuario creado correctamente</p>
        <p>{ message }</p>
    </div>
}
