package adminClassSearchResults

import (
	"fmt"
	"frontend/database/models"
)

templ AdminClassSearchResults(classes []*models.Class) {
	<table class="table table-sm w-full border text-gray-800">
		<thead>
			<tr class="bg-gray-100 text-sm text-gray-700">
				<th>ID</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Grado</th>
				<th>Asignatura</th>
			</tr>
		</thead>
		<tbody>
			if len(classes) == 0 {
				<tr>
					<td colspan="6" class="text-center text-gray-400 italic py-3">
						No se encontraron resultados
					</td>
				</tr>
			} else {
				for _, c := range classes {
					<tr class="hover:bg-gray-50 text-sm">
						<td class="font-medium">
							<a
								href={ fmt.Sprintf("/admin/class/modify?class_id=%d", c.Id) }
								class="text-red-600 hover:underline cursor-pointer"
							>
								{ c.Id }
							</a>
						</td>
						<td>{ c.Name }</td>
						<td class="truncate max-w-xs">{ c.Description }</td>
						<td>{ c.Grade }</td>
						<td>{ c.Subject }</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
